In [1]:
import mysql.connector
from mysql.connector import Error
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
try:
    connection = mysql.connector.connect(
        host = 'localhost',
        user = 'root',
        password = 'sqltraining', consume_results = True)
    
except mysql.connector.Error as Error:
    print("Could not connect to the server. Error: {}".format(Error))
    
if connection.is_connected:
    print("You're connected to MySQL server.")    
    server_info = connection.get_server_info()
    print("Running on version:", server_info)
    host_info = (connection.server_host, connection.server_port)
    print("Connected to", host_info[0], "on port", host_info[1])
    user_info = connection.user
    print("User's name:", user_info)
    connection_info = connection.connection_id
    print(connection_info)
    
else:
    print("Could not connect to the server. Error: {}".format(Error))

You're connected to MySQL server.
Running on version: 8.0.22
Connected to localhost on port 3306
User's name: root
34

In [3]:
connection.cmd_init_db('movies')
cursor = connection.cursor(buffered = True)
query_tables = "show tables"
cursor.execute(query_tables)
tables_name = []
for table in cursor:
    print(table[0])
    tables_name.append(table)
cursor.close()

country
department
gender
genre
keyword
language
language_role
movie
movie_cast
movie_company
movie_crew
movie_genres
movie_keywords
movie_languages
person
production_company
production_country

True

In [ ]:
cursor = connection.cursor()
query_columns = "SHOW COLUMNS FROM movie_cast"
cursor.execute(query_columns)
columns = cursor.fetchall()
print(columns)

In [ ]:
query_select = "SELECT gender_id FROM movie_cast"
cursor.execute(query_select)
select = cursor.fetchall()
print(select)
len(select)

In [ ]:
cursor = connection.cursor()
query_columns = "SHOW COLUMNS FROM movie_cast"
cursor.execute(query_columns)
columns = cursor.fetchall()
print(columns)

In [ ]:
query_select = "SELECT keyword_name FROM keyword"
cursor.execute(query_select)
select = cursor.fetchall()
print(select)

In [ ]:
cursor = connection.cursor()
query_select = """SELECT m.title, m.budget, m.release_date, m.revenue, m.vote_average, m.vote_count, g.gender, c.country_iso_code, cat.genre_name, p.person_name
FROM movie as m, gender as g, country as c, genre as cat, person as p, movie_cast as mc, movie_genres as mg, production_country as pc 
WHERE m.movie_id = mc.movie_id AND m.movie_id = mg.movie_id AND m.movie_id = pc.movie_id"""
cursor.execute(query_select)
result = cursor.fetchall()
print(result)

In [ ]:
df = pd.read_sql("""SELECT m.movie_id, m.title, m.budget, m.release_date, m.revenue, m.vote_average, m.vote_count, g.gender, c.country_iso_code, cat.genre_name, p.person_name
FROM movie as m, gender as g, country as c, genre as cat, person as p, movie_cast as mc, movie_genres as mg, production_country as pc 
WHERE m.movie_id = mc.movie_id AND m.movie_id = mg.movie_id AND m.movie_id = pc.movie_id""", connection, index_col = 'movie_id')

In [ ]:
df = pd.read_sql("""SELECT m.movie_id, m.title, m.release_date, m.revenue, m.vote_average, c.country_iso_code, cat.genre_name
FROM movie as m, country as c, genre as cat, movie_cast as mc, movie_genres as mg, production_country as pc 
WHERE m.movie_id = mc.movie_id AND m.movie_id = mg.movie_id AND m.movie_id = pc.movie_id GROUP BY m.movie_id LIMIT 1000""", connection, index_col = 'movie_id')

In [ ]:
df2 = pd.read_sql("""SELECT m.movie_id, m.title, m.release_date, m.revenue, m.vote_average, c.country_iso_code
FROM movie as m, production_country as pc, country as c 
WHERE m.movie_id = pc.movie_id GROUP BY m.movie_id""", connection, index_col = 'movie_id')

In [4]:
df3 = pd.read_sql("""SELECT m.movie_id, m.title, m.release_date, m.revenue, m.vote_average, cat.genre_name
                    FROM movie as m, genre as cat, movie_genres as mg
                    WHERE m.movie_id = mg.movie_id AND cat.genre_id = mg.genre_id""", connection, index_col = 'movie_id')

ATE AQUI IMPORTANDO BEM, AGORA EXCLUIR OS DUPLICADOS

In [ ]:
df3.drop_duplicates(subset = ['title'], keep = 'last')

In [9]:
df3.sort_values(by = ['title'])

                    title release_date   revenue  vote_average genre_name
movie_id
301325            #Horror   2015-11-20         0           3.3     Horror
301325            #Horror   2015-11-20         0           3.3    Mystery
301325            #Horror   2015-11-20         0           3.3      Drama
301325            #Horror   2015-11-20         0           3.3   Thriller
119458    $upercapitalist   2012-08-10         0           3.5   Thriller
...                   ...          ...       ...           ...        ...
11658            태극기 휘날리며   2004-02-05        15           7.4        War
33196                 해운대   2009-06-06  11301649           6.5   Thriller
33196                 해운대   2009-06-06  11301649           6.5  Adventure
33196                 해운대   2009-06-06  11301649           6.5     Action
33196                 해운대   2009-06-06  11301649           6.5      Drama

[12160 rows x 5 columns]

In [ ]:
df2

In [ ]:
df_concat = pd.concat([df2, df3], axis = 1)

In [ ]:
df_concat

In [ ]:
df_concat = df_concat.loc[:,~df_concat.columns.duplicated()]

In [ ]:
df_concat.info()

In [ ]:
df_concat = df_concat[df_concat != 0].dropna()

In [ ]:
df_concat.info()

In [ ]:
df_concat['year'] = pd.DatetimeIndex(df_concat['release_date']).year

In [ ]:
df_concat = df_concat.drop('release_date', axis = 1)

In [ ]:
df_concat

In [ ]:
df_concat[df_concat['genre_name'].levels()

In [ ]:
df_concat[df_concat['genre_name'] != 'Adventure']