SELECTING STATEMENTS JOINING TWO OR MORE TABLES OF MySQL DATABASE.

IN THESE CASE I JOINED MOVIES AND CATEGORIES USING THE 'movie_genre' INTERMEDIARY

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_sql("""SELECT m.movie_id,m.title, m.budget, m.popularity, 
                    m.vote_average, m.vote_count, m.release_date, g.genre_name 
                FROM movie as m, movie_genres as mg, genre as g 
                WHERE mg.genre_id = g.genre_id 
                AND mg.movie_id = m.movie_id
                GROUP BY m.movie_id;""", connection, index_col= 'movie_id')
display(df)